<div class="container">
  <% if params[:query] %>
    <h1>You searched for <strong><%= params[:query] %></strong></h1>
    <% @flats = Flat.where("name LIKE '%#{params[:query]}%'") %>
    <p>there are <%= @flats.size %> like that</p>
  <% else %>
    <h1>Here are all of our flats</h1>
  <% end %>
  <%= render  "card" %>
</div>
