<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to  "See All Flats", flats_path, class:"btn btn-outline-success" %>
    <%= link_to  "Add flat", new_flat_path, class:"btn btn-outline-success" %>
  </div>
</nav>
